.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


.medical-record-details {
  padding: 16px;
  background-color: #f9f9f9; /* Fondo claro para destacar el contenido */
  border-radius: 4px; /* Bordes redondeados */
}

.record-item {
  margin-bottom: 8px; /* Espacio entre los elementos */
}

.record-item strong {
  color: black; /* Color del texto en negrita */
}

/* Quitar padding y márgenes de celdas */
table.mat-table {
  font-size: 12px; /* Fuente más pequeña */
}

table.mat-table th.mat-header-cell,
table.mat-table td.mat-cell {
  padding: 4px 6px; /* Reducir padding vertical y horizontal */
  text-align: center; /* Centrar contenido */
  min-width: 24px; /* Ancho mínimo de columna */
}

/* Si quieres la primera columna (servicio) un poco más ancha */
table.mat-table th.mat-header-cell:first-child,
table.mat-table td.mat-cell:first-child {
  min-width: 120px;
  text-align: left;
  padding-left: 8px;
}

/* Quitar espacios entre columnas (border-spacing) */
table.mat-table {
  border-collapse: collapse;
}