<div class="container">
  <div *ngIf="patient() as p">
    <h4>
      Información Paciente >
      <span >
        {{ p.name }} {{ p.surname }} {{ p.secondSurname }}
        <mat-chip matTooltip="Copiar">Código usuario {{ p.codigoSistrat || '' }}</mat-chip>
      </span>
    </h4>

  </div>

  <h1>Historial Clínico</h1>
  <button mat-flat-button color="accent" class="text-white mb-2 mat-elevation-z1" (click)="onNewMedicalRecord()">
        Nuevo Registro</button>

  <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="generatePdf()" class="ml-2">
    <mat-icon style="color: white">print</mat-icon>
  </button>

  @if(state().medicalRecords.length > 0){
    <div class="mat-elevation-z1 mt-4">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let medicalRecord of state().medicalRecords; index as i" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mr-1">
              <mat-chip>{{ medicalRecord.date | date: 'dd-MM-yyyy' }}</mat-chip>
              <span class="ml-2">{{ medicalRecord.service.description }}</span>
            </mat-panel-title>
            <mat-panel-description>
              Registrado por {{ medicalRecord.registeredBy.name }} ({{ medicalRecord.registeredBy.profile.name }})
              <mat-icon>add_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="medical-record-details">
            <div class="record-item"><strong>Fecha:</strong> {{ medicalRecord.date | date: 'dd-MM-yyyy' }}</div>
            <!--<div class="record-item"><strong>Tipo entrada:</strong> {{ medicalRecord.entryType }}</div>-->
            <div class="record-item"><strong>Prestación:</strong> {{ medicalRecord.service.description }}</div>
            <div class="record-item"><strong>Elementos relevantes:</strong> {{ medicalRecord.relevantElements }}</div>
            <div class="record-item"><strong>Objetivo intervención:</strong> {{ medicalRecord.interventionObjective }}</div>
            <div class="record-item" *ngIf="medicalRecord.diagnosticMedic"><strong>Diagnóstico del profesional:</strong> {{ medicalRecord.diagnosticMedic }}</div>
            <div class="record-item" *ngIf="medicalRecord.diagnostic"><strong>Diagnóstico:</strong> {{ getDiagnosticText(medicalRecord.diagnostic) }}</div>
            <div class="record-item" *ngIf="medicalRecord.pharmacologicalScheme"><strong>Esquema farmacológico:</strong> {{ medicalRecord.pharmacologicalScheme }}</div>
          </div>
          <!--<button mat-stroked-button color="warn" class="my-2 mat-elevation-z1" >-->
          <button mat-stroked-button color="warn" class="my-2 mat-elevation-z1" (click)="onDeleteMedicalRecord(medicalRecord._id)">
        Eliminar</button>
        <!--<pre>{{ medicalRecord | json }}</pre>-->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  }@else {
    <div class="flex justify-content-center flex-wrap mt-8">
      <h2 class="justify-content-center">Aún no registra historial clínico</h2>
    </div>
  }
</div>
