<div>
  <div class="section">
    @if(patients()){
      <div class="mt-2 mb-8">
        <div class="clinical-record mb-3">
          <div class="container">
            <h2>Intervención Grupal</h2>
            <form [formGroup]="groupInterventionForm" autocomplete="off" (ngSubmit)="onSave()">

              <div class="grid">
                <div class="col-4">
                  @if(programs().length) {
                    <mat-form-field appearance="outline" class="patients__select w-full">
                      <mat-label>Programa</mat-label>
                      <mat-select [formControl]="programFilter">
                        <mat-option [value]="null">Todos los programas</mat-option>
                        @for (program of programs(); track program._id) {
                          <mat-option [value]="program._id">{{ program.name }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                    }
                </div>
                <div class="col-6">
                  <div class="patients">
                    <mat-chip-set aria-label="Fish selection">
                      @for (patient of patientsList.value; track $index) {
                        <mat-chip (click)="removePatient(patient)" (keydown.enter)="removePatient(patient)">{{ patient.name }} {{ patient.surname }} {{ patient.secondSurname}}
                          <mat-icon matListItemIcon>close_small</mat-icon>
                        </mat-chip>
                      }
                    </mat-chip-set>
                    
                    <mat-form-field appearance="outline" class="patients__select w-full">
                      <mat-label>Seleccionar Pacientes</mat-label>
                      <mat-select [formControl]="patientsList" multiple>
                        @for (patient of patients(); track patient._id) {
                          <mat-option (click)="onPatientSelected()" (keydown.enter)="onPatientSelected()" [value]="patient">{{ patient.name }} {{ patient.surname }} {{ patient.secondSurname}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
  
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-4">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="date" [matDatepicker]="picker" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
  
                @if(!hideServiceSelect){
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Prestación</mat-label>
                    <mat-select formControlName="service">
                      @for (service of services; track $index) {
                      <mat-option value="{{ service._id }}">{{ service.description }}</mat-option>
                    }
                    </mat-select>
                  </mat-form-field>
                  <span *ngIf="isValidField('service')" class="text-red-500"> Campo requerido </span>
                </div>
                }
  
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Objetivo de intervención</mat-label>
                    <input formControlName="interventionObjective" matInput placeholder="Actividad" />
                  </mat-form-field>
                  <span *ngIf="isValidField('interventionObjective')" class="text-red-500"> Campo requerido </span>
                </div>
              </div>
  
              <div class="grid">
                <div class="col-12">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Elementos relevantes de la intervención</mat-label>
                    <textarea formControlName="relevantElements" rows="5" matInput></textarea>
  
                    <span *ngIf="isValidField('relevantElements')" class="form-text text-danger"> Este campo es requerido </span>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
  
                @if(user.profile.name == 'Psiquiatra' || user.profile.name == 'Médico'){
                <div class="col-12">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Diagnóstico</mat-label>
                    <mat-select formControlName="diagnostic">
                      <mat-option value="">Seleccione una opción</mat-option>
                      <mat-option value="1">Trastornos mentales orgánicos, incluidos los sintomáticos</mat-option>
                      <mat-option value="2">Esquizofrenia, trastorno esquizotípico y trastornos de ideas delirantes</mat-option>
                      <mat-option value="3">Trastornos del humor (afectivos).</mat-option>
                      <mat-option value="4">Trastornos neuróticos, secundarios a situaciones estresantes y somatomorfos</mat-option>
                      <mat-option value="5">Trastornos de la personalidad y del comportamiento del adulto</mat-option>
                      <mat-option value="6">Trastornos del comportamiento asociados a disfunciones fisiológicas y a factores somáticos</mat-option>
                      <mat-option value="7">Retraso Mental</mat-option>
                      <mat-option value="8">Trastornos del Desarrollo Psicológico</mat-option>
                      <mat-option value="9">Trs. del comportamiento y de las emociones de comienzo habitual en la infancia y adolescencia</mat-option>
                      <mat-option value="10">En estudio</mat-option>
                      <mat-option value="11">Sin trastorno</mat-option>
                      <mat-option value="12">Trastornos de la conducta alimentaria </mat-option>
                      <mat-option value="13">Trastornos de los hábitos y del control de los impulsos </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-12">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Esquema Farmacológico</mat-label>
                    <textarea formControlName="pharmacologicalScheme" rows="5" matInput></textarea>
  
                    <span *ngIf="isValidField('pharmacologicalScheme')" class="form-text text-danger"> El nombre es requerido </span>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
                }
  
                <div class="col-6">
                  <button mat-stroked-button color="primary" mat-dialog-close class="mr-1">Cerrar</button>
                  <button mat-flat-button type="submit" color="primary">Registrar</button>
                </div>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    }@else {
      <ng-template #loading>Cargando</ng-template>
    }
  </div>
</div>

