

<form [formGroup]="exportForm" class="data-export">
  <div class="data-export p-4">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Fecha Inicio</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="pickerStart" />
      <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Fecha Hasta</mat-label>
      <input formControlName="endDate" matInput [matDatepicker]="pickerEnd" />
      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Seleccionar Centro</mat-label>
      <mat-select formControlName="centerName">
        <mat-option value="">Todos</mat-option>
        @for (center of centers; track center._id) {
        <mat-option [value]="center.name">{{ center.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" class="w-full h-12 border-round-xl" (click)="exportPdf()">
      <mat-icon class="mr-2">download</mat-icon>
      Exportar Datos
    </button>
  </div>
</form>
