<div class="container">
  <h1>Fichas clínicass</h1>

  <div>
    <mat-accordion>
      <!--services: {{services.length}}
      medicalRecords: {{medicalRecords.length}}-->
      @if(services.length > 0 && medicalRecords.length > 0){ @for(service of services; track $index){
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ service.code }} {{ service.description }}</mat-panel-title>
        </mat-expansion-panel-header>

        <p>Tabla de {{ service.description }}</p>

        <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
          <ng-container matColumnDef="patientName">
            <mat-header-cell *matHeaderCellDef>Paciente</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{ element }}</mat-header-cell>
          </ng-container>

          <ng-container *ngFor="let day of daysInMonth" [matColumnDef]="day">
            <mat-header-cell *matHeaderCellDef>{{ day }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if(getDayRecord(element, day) == 1){
                  <span style="font-size: 18px;color: red"><strong>1</strong></span>
                }@else{
                  0
                }
              <!--{{ getDayRecord(element, day) == 1; e }}-->
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-expansion-panel>
      } }
    </mat-accordion>
  </div>
</div>
