:host {
  display: block;

  .clinical-record{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  .container{
    height: 120% !important;
  }

}

.patient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.field {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
}

.label {
  font-size: 12px;
  color: #757575;
  display: block;
}

.value {
  // font-weight: bold;
  font-size: 14px;
}
