/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
    flex: 1 1 auto;
}

.container {
  background-color: #ffffff;
  padding: 2%;
  border-radius: 5px;
  border-radius: 0.5rem;
  border: 1px solid #c4c6d0;
  height: 100% !important;
}

.buttons {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}
