<form [formGroup]="form" autocomplete="off">
  <div class="grid pt-4"></div>

  <div class="grid w-9">
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nacionalidad</mat-label>
        <mat-select formControlName="txtnacionalidad">
          <mat-option value="null">Seleccione una opción</mat-option>
          @for ( option of optionsNacionality; track $index) {
          <mat-option value="{{ option.value }}">{{ option.name }}</mat-option>
          }
        </mat-select>
        <span *ngIf="isValidField('txtnacionalidad')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <pre>{{ form.get("txtnacionalidad")?.value | json }}</pre>

    <div class="col-6">
      @if(form.get('txtnacionalidad')?.value === '46'){
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Etnia</mat-label>
        <mat-select formControlName="etnia">
          <mat-option value="">Seleccione</mat-option>
          <mat-option value="9">No pertenece</mat-option>
          <mat-option value="1">Mapuche</mat-option>
          <mat-option value="2">Aimara</mat-option>
          <mat-option value="3">Lican Antai</mat-option>
          <mat-option value="4">Quechua</mat-option>
          <mat-option value="5">Rapa Nui</mat-option>
          <mat-option value="6">Colla</mat-option>
          <mat-option value="7">Yaman o Yagana</mat-option>
          <mat-option value="10">Diaguitas</mat-option>
        </mat-select>
        <span *ngIf="isValidField('etnia')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
      }@else {
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>DOCUMENTACIÓN REGULARIZADA</mat-label>
        <mat-select formControlName="documentacion_regularizada">
          <mat-option value="">Seleccione</mat-option>
          <mat-option value="1">SI</mat-option>
          <mat-option value="2">NO</mat-option>
        </mat-select>
        <span *ngIf="isValidField('documentacion_regularizada')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
      }
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Estado conyugal</mat-label>
        <mat-select formControlName="selestado_civil">
          <mat-option value="">Seleccione</mat-option>
          <mat-option value="Casado">Casado(a)</mat-option>
          <mat-option value="Conviviente">Conviviente o pareja</mat-option>
          <mat-option value="Anulado">Anulado</mat-option>
          <mat-option value="Separado">Separado</mat-option>
          <mat-option value="Divorciado">Divorciado(a)</mat-option>
          <mat-option value="Viudo">Viudo(a)</mat-option>
          <mat-option value="Soltero">Soltero(a)</mat-option>
          <mat-option value="Nocontesta">No contesta</mat-option>
          <mat-option value="conviviente civil">conviviente civil</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selestado_civil')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>N° Hijos</mat-label>
        <input matInput formControlName="int_numero_hijos" placeholder="Nombre" />
        <span *ngIf="isValidField('int_numero_hijos')" class="form-text text-danger"> El nombre es requerido </span>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>¿N° hijos que ingresan al centro residencial junto a su madre/padre?</mat-label>
        <mat-select formControlName="selnumero_hijos_ingreso">
          <mat-option value="null">Seleccione una opción</mat-option>
          <mat-option value="1">0</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">+10</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selnumero_hijos_ingreso')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nivel educacional màs alto</mat-label>
        <mat-select formControlName="selescolaridad">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="14">Sala Cuna o jardin infantil</mat-option>
          <mat-option value="15">Prekinder</mat-option>
          <mat-option value="16">Kinder</mat-option>
          <mat-option value="17">Especial o diferencial</mat-option>
          <mat-option value="18">Educación básica</mat-option>
          <mat-option value="19">Primaria o preparatoria</mat-option>
          <mat-option value="20">Cientifico-Humanista</mat-option>
          <mat-option value="21">Técnica profesional</mat-option>
          <mat-option value="22">Humanidades</mat-option>
          <mat-option value="23">Técnica Comercial/Industrial/Normalista</mat-option>
          <mat-option value="24">Técnico superior (1-3 años) completa</mat-option>
          <mat-option value="25">Técnico superior (1-3 años) incompleta</mat-option>
          <mat-option value="26">Profesional (4 o más años) completa</mat-option>
          <mat-option value="27">Profesional (4 o más años) incompleta</mat-option>
          <mat-option value="28">Magister</mat-option>
          <mat-option value="29">Doctorado</mat-option>
          <mat-option value="30">Nunca estudió</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selescolaridad')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    @if(['18','19','20','21','22'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['24'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['25'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['26'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['27'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['28'].includes(form.get('selescolaridad')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Años (Mayor nivel)</mat-label>
        <mat-select formControlName="escolaridad_opc">
          <mat-option value="">SELECCIONE</mat-option>
          <mat-option value="Completa">Completa</mat-option>
          <mat-option value="Incompleta">Incompleta</mat-option>
        </mat-select>
        <span *ngIf="isValidField('escolaridad_opc')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    }
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>¿Mujer embarazada?</mat-label>
        <mat-select formControlName="selmujer_embarazada">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="Si">Si</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selmujer_embarazada')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tiene a cargo menores de edad</mat-label>
        <mat-select formControlName="tiene_menores_a_cargo">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="si">Si</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
        <span *ngIf="isValidField('tiene_menores_a_cargo')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Estado ocupacional/laboral</mat-label>
        <mat-select formControlName="selestado_ocupacional">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="17" data-index-number="1000">Trabajando actualmente - Empleador</mat-option>
          <mat-option value="18" data-index-number="1000">Trabajando actualmente - Cuenta Propia</mat-option>
          <mat-option value="19" data-index-number="2">Trabajando actualmente - Asalariado</mat-option>
          <mat-option value="20" data-index-number="">Trabajando actualmente - Voluntario</mat-option>
          <mat-option value="21" data-index-number="">Trabajando actualmente - Otro</mat-option>
          <mat-option value="22" data-index-number="3">Seguridad Social</mat-option>
          <mat-option value="2" data-index-number="">Buscando trabajo por primera vez</mat-option>
          <mat-option value="4" data-index-number="">Quehaceres del hogar</mat-option>
          <mat-option value="5" data-index-number="">Estudiando sin trabajar</mat-option>
          <mat-option value="6" data-index-number="">Pensionado o jubilado sin trabajar</mat-option>
          <mat-option value="7" data-index-number="">Incapacitado permanente para trabajar</mat-option>
          <mat-option value="9" data-index-number="">Rentista</mat-option>
          <mat-option value="11" data-index-number="">Sin actividad</mat-option>
          <mat-option value="12" data-index-number="">No busca Trabajo</mat-option>
          <mat-option value="16" data-index-number="">Trabajando y estudiando</mat-option>
          <mat-option value="14" data-index-number="">Otra razón</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selestado_ocupacional')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    @if(['17', '18'].includes(form.get('selestado_ocupacional')?.value)) {

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>OCUPACIÓN INGRESOS</mat-label>
        <mat-select formControlName="laboral_ingresos">
          <mat-option value="">SELECCIONE</mat-option>
          <mat-option value="1">Menos de 100.000</mat-option>
          <mat-option value="2">100.000 a 200.000</mat-option>
          <mat-option value="3">200.001 a 300.000</mat-option>
          <mat-option value="4">300.001 a 400.000</mat-option>
          <mat-option value="5">400.001 a 500.000</mat-option>
          <mat-option value="6">500.001 a 600.000</mat-option>
          <mat-option value="7">600.001 a 700.000</mat-option>
          <mat-option value="8">700.001 a 800.000</mat-option>
          <mat-option value="9">800.001 a 900.000</mat-option>
          <mat-option value="10">900.001 a 1.000.000</mat-option>
          <mat-option value="11">Más de 1.000.000</mat-option>
        </mat-select>
        <span *ngIf="isValidField('laboral_ingresos')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } @if(['19'].includes(form.get('selestado_ocupacional')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>OCUPACIÓN DETALLE</mat-label>
        <mat-select formControlName="laboral_detalle">
          <mat-option value="" data-index-number="">SELECCIONE</mat-option>
          <mat-option value="1" data-index-number="1000"> Contrato indefinido</mat-option>
          <mat-option value="2" data-index-number="1000"> A plazo fijo</mat-option>
          <mat-option value="3" data-index-number="1000"> Por obra o faena</mat-option>
          <mat-option value="4" data-index-number=""> NO tiene contrato</mat-option>
        </mat-select>
        <span *ngIf="isValidField('laboral_detalle')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    } 
    
    @if(['22'].includes(form.get('selestado_ocupacional')?.value)) {
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>OCUPACIÓN DETALLE</mat-label>
        <mat-select formControlName="laboral_detalle">
          <mat-option value="" data-index-number="">SELECCIONE</mat-option>
          <mat-option value="5" data-index-number=""> No cotiza en sistema previsional</mat-option>
          <mat-option value="6" data-index-number="1000"> Cotiza en sistema previsional</mat-option>
        </mat-select>
        <span *ngIf="isValidField('laboral_detalle')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    }

    // En que rubro trabajar
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>EN QUE RUBRO TRABAJA </mat-label>
        <mat-select formControlName="selrubro_trabajo">                                                
        <mat-option value="">SELECCIONE</mat-option>
        <mat-option value="1">Directores y Gerentes</mat-option>
        <mat-option value="2">Profesionales, científicos e intelectuales</mat-option>
        <mat-option value="3">Técnicos y profesionales de nivel medio</mat-option>
        <mat-option value="4">Personal de apoyo administrativo</mat-option>
        <mat-option value="5">Trabajadores de los servicios y vendedores de comercio y mercado</mat-option>
        <mat-option value="6">Agricultores y trabajadores calificados agropecuarios, forestales y pesqueros</mat-option>
        <mat-option value="7">Oficiales, operarios y artesanos de artes mecánica y otros oficios</mat-option>
        <mat-option value="8">Operadores y montadores de instalaciones y maquinaria y ensambladores</mat-option>
        <mat-option value="9">Trabajadores no calificados (Ocupaciones elementales)</mat-option>
        <mat-option value="10">Ocupaciones Militares</mat-option>
        <mat-option value="11">Ocupación no bien especificada</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selrubro_trabajo')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Con quién vive</mat-label>
        <mat-select formControlName="selcon_quien_vive">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="1">Solo</mat-option>
          <mat-option value="2">Únicamente con pareja</mat-option>
          <mat-option value="3">Únicamente con hijos</mat-option>
          <mat-option value="4">Únicamente con padres o familia de origen</mat-option>
          <mat-option value="5">Únicamente con la pareja e hijos</mat-option>
          <mat-option value="6">Únicamente con la pareja y padres o familia de origen</mat-option>
          <mat-option value="7">Únicamente con hijos y padres o familia de origen</mat-option>
          <mat-option value="8">Con la Pareja, Hijos y Padres o Familia de Origen</mat-option>
          <mat-option value="9">Con amigos</mat-option>
          <mat-option value="10">Otros</mat-option>
          <mat-option value="11">Con la madre (sola)</mat-option>
          <mat-option value="12">Con el padre (solo)</mat-option>
          <mat-option value="13">Con abuelos</mat-option>
          <mat-option value="14">Con hermanos</mat-option>
          <mat-option value="15">Con otro pariente (sin los padres)</mat-option>
          <mat-option value="16">Con otro NO pariente (sin los padres)</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selcon_quien_vive')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Parentezco coon el jefe de hogar</mat-label>
        <mat-select formControlName="selparentesco">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="1">Jefe/a de hogar</mat-option>
          <mat-option value="2">Esposo/a o conyuge</mat-option>
          <mat-option value="3">Conviviente por union civil</mat-option>
          <mat-option value="4">Conviviente de hecho o pareja</mat-option>
          <mat-option value="5">Hijo/a</mat-option>
          <mat-option value="6">Hijo/a del conyuge, conviviente o pareja</mat-option>
          <mat-option value="7">Hermano/a</mat-option>
          <mat-option value="8">Padre/madre</mat-option>
          <mat-option value="9">Cuñado/a</mat-option>
          <mat-option value="10">Suegro/a</mat-option>
          <mat-option value="11">Yerno/nuera</mat-option>
          <mat-option value="12">Ñieto/a</mat-option>
          <mat-option value="13">Abuelo/a</mat-option>
          <mat-option value="14">Otro pariente</mat-option>
          <mat-option value="15">No pariente</mat-option>
          <mat-option value="16">Servicio domestico puertas adentro</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selparentesco')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tipo de vivienda</mat-label>
        <mat-select formControlName="seldonde_vive">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="1" data-index-number="1">Casa</mat-option>
          <mat-option value="2" data-index-number="1">Departamento</mat-option>
          <mat-option value="3" data-index-number="1">Mediagua</mat-option>
          <mat-option value="4" data-index-number="1">Pieza dentro de la vivienda</mat-option>
          <mat-option value="5" data-index-number="1">Residencial, pensión, hostal</mat-option>
          <mat-option value="6" data-index-number="1">Hospedería</mat-option>
          <mat-option value="7" data-index-number="">Choza, Rancho, Ruca</mat-option>
          <mat-option value="8" data-index-number="">Caleta o punto de calle</mat-option>
          <mat-option value="10" data-index-number="">Movil (carpa, casa rodante o similar)</mat-option>
          <mat-option value="9" data-index-number="">Otro</mat-option>
        </mat-select>
        <span *ngIf="isValidField('seldonde_vive')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    @if(['1','2','3','4','5','6'].includes(form.get('seldonde_vive')?.value)) {
      <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>N° personas en el hogar por dormitorio de uso exclusivo es:</mat-label>
          <mat-select formControlName="perso_dormitorio_vivienda">
            <mat-option value="">Seleccione una opción</mat-option>
            <mat-option value="1">Mayor a 2,5 personas</mat-option>
            <mat-option value="2">Menor a 2,5 personas</mat-option>
          </mat-select>
          <span *ngIf="isValidField('perso_dormitorio_vivienda')" class="text-red-500"> Debe seleccionar una opción </span>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Precariedad habitacional</mat-label>
          <mat-select formControlName="precariedad_vivienda">
            <mat-option value="">Seleccione una opción</mat-option>
            <mat-option value="1">Reside en una vivienda precaria o en una vivienda con muros y/opiso en mal estado</mat-option>
            <mat-option value="2">Reside en una vivienda en buen estado</mat-option>
          </mat-select>
          <span *ngIf="isValidField('precariedad_vivienda')" class="text-red-500"> Debe seleccionar una opción </span>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Servicios básicos</mat-label>
          <mat-select formControlName="ss_basicos_vivienda">
            <mat-option value="">Seleccione una opción</mat-option>
            <mat-option value="1"
              >Reside en una vivienda sin servicios sanitarios básicos (sin WC, y/o llave dentro de la vivienda y/o agua según estándar urbano o rural
            </mat-option>
            <mat-option value="2">Reside en una vivienda con servicios sanitarios básicos</mat-option>
          </mat-select>
          <span *ngIf="isValidField('ss_basicos_vivienda')" class="text-red-500"> Debe seleccionar una opción </span>
        </mat-form-field>
      </div>
    }

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tenencia de la vivienda</mat-label>
        <mat-select formControlName="seltenencia_vivienda">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="1">Arrienda</mat-option>
          <mat-option value="2">Paga dividendo</mat-option>
          <mat-option value="3">Propia</mat-option>
          <mat-option value="4">Allegado</mat-option>
          <mat-option value="5">Ocupación irregular</mat-option>
          <mat-option value="6">Cedida</mat-option>
          <mat-option value="7">Otros</mat-option>
          <mat-option value="8">N/A</mat-option>
        </mat-select>
        <span *ngIf="isValidField('seltenencia_vivienda')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>N° Tratamientos anteriores</mat-label>
        <mat-select formControlName="selnumero_tratamientos_anteriores">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="0">0</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">+10</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selnumero_tratamientos_anteriores')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Fecha último tratamiento</mat-label>
        <mat-select formControlName="selfecha_ult_trata">
          <mat-option value="">Seleccione una opción</mat-option>
          <mat-option value="1">Último 6 meses</mat-option>
          <mat-option value="2">Último 12 meses</mat-option>
          <mat-option value="3">1 a 2 años</mat-option>
          <mat-option value="4">3 a 4 años</mat-option>
          <mat-option value="5">5 o más años</mat-option>
          <mat-option value="6">No Corresponde</mat-option>
        </mat-select>
        <span *ngIf="isValidField('selfecha_ult_trata')" class="text-red-500"> Debe seleccionar una opción </span>
      </mat-form-field>
    </div>
  </div>
</form>
